@import "site";

@font-face {
	font-family: textbox;
	src: url('./Super-Mario-64-DS.ttf');
}
@font-face {
	font-family: msn;
	src: url('./arial-pixel-11.ttf');
}

h1, h2, h3, h4, h5, h6 {
	font-family: textbox;
}
p, a, em, strong {
	font-family: msn;
}