@import "site";
@import "fonts";

img:not(.emoji){
	border-radius: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: textbox;
}
p, a, em, strong {
	font-family: msn;
}

sub {
	position: relative;
	bottom: 20px;
}

.emoji {
	position: relative;
	top: 4px;
	width: 19px;
}

curse {
	color: black;
	background-color: black;
}