<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Mobdt Blog</title>
  
  {% block css %}
  <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) | safe }}">
  {% endblock css %}

  <link rel="icon" href="https://raw.githubusercontent.com/Atliylol/Mobdt-Blog/main/static/favicon.png" type="image/x-icon">
</head>

<body>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>